{% extends 'base.html' %}

{% block title %} Services {% endblock title %}

{% block body %}
<div class="album py-2 bg-body-tertiary">
    <div class="container">
        <h1 class="my-4 text-center">Select from our range of Softy's</h1>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/sof1.jpeg" height="225px" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">Mango ice cream is like a sunny day in a bowl. It's cold and creamy, with a
                            taste that's both sweet and tangy, like biting into a ripe mango.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/sof2.jpeg" height="225px" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">So next time you're craving something sweet, reach for a scoop of vanilla
                            ice cream. It's a classic treat that never disappoints.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/sof3.jpeg" height="225px" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">Chocolate ice cream is a tasty treat that many people enjoy. It's made with
                            creamy milk, cocoa powder, and sugar.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/sof4.jpeg" height="225px" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">Hazelnut ice cream is a yummy dessert made with creamy milk, sugar, and
                            hazelnuts. Hazelnuts are small, brown nuts with a sweet and nutty flavor.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/sof5.jpeg" height="225px" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">A deliciously bold and tangy flavor that tantalizes your taste buds with
                            its deep purple hue and sweet, fruity essence.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/img/sof6.jpeg" height="225px" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <p class="card-text">It's a classic treat that mixes creamy ice cream with tasty pistachio nuts.
                            Each bite gives you a mix of smoothness and a bit of crunch.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}